*.dat
.venv/
*.txt

__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo

catboost_info/
generate_results_table.py
results_tables.md
optimize_savgol_params.py
optimize_realmlp_params.py
optimize_lightgbm_params.py